body { 
    background-image: url('imagens/plano_de_fundo_2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#logo{text-align: center;
}
.center{
    margin-top: 1px;
    text-align: center;
    color: rgb(65,37,13);
    font-size: 40px;
}

#botões {
    display: flex;
    flex-direction: column;
    
}


#botao{
    font-size: 20px;
    color: rgb(65,37,13);
    margin-bottom: 20px;
    text-align: center;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    text-decoration: none;
}

#subtitulo{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

#cupom{
    display: inline-block;
    color: rgb(203, 216, 200);
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color:rgb(65,37,13);
    padding-bottom: 0px;
    border-radius: 20px;
    cursor: pointer;
}
#cupom:hover{
    background-color: rgb(114, 69, 30);
    transform: scale(1.04); 
}
#textocupom{
    font-size: 15px;
    color:rgb(203, 216, 200);
}
#quantidadecupons{
    text-align: right;
    padding-right: 10px;
    color: rgb(203, 216, 200);
    font-size: 10px;
    
}


