body { 
    background-image: url('imagens/plano_de_fundo_2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#logo{text-align: center;
}
.center{
    margin-top: 1px;
    text-align: center;
    color: rgb(65,37,13);
    font-size: 40px;
}

#botões {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


#botao{
    font-size: 20px;
    color: rgb(65,37,13);
    margin-bottom: 20px;
    text-align: center;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    text-decoration: none;
}

#subtitulo{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
#cupons {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#cupons {
    align-items: center;
    display: flex;
    justify-content: center;
}

#cupons a {
    display: flex;
    flex-direction: column;
    width: 250px;
    
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: rgb(203, 216, 200);
    transition: transform 0.3s ease;
}

#cupons a:hover {
    background-color: rgb(114, 69, 30);
    transform: scale(1.04);
}

.titulo {
    display: block;
    font-size: 24px; 
    margin-bottom: 10px; 
    text-align: left;
    padding-left: 55px;
}

#textocupom{
    padding-left: 5px;
    font-size: 15px;
    color:rgb(216, 200, 200);
    text-align: left;
    width: 110px;
}
#quantidadecupons{
    text-align: right;
    padding-right: 23px;
    padding-bottom: 0px;
    color: rgb(203, 216, 200);
    font-size: 10px;
    
}
#formularios{
    color: white;
    text-align: center;
}
#voltar{
    
    text-decoration: none;
    width: 45px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: rgb(164, 170, 163); 
    margin-bottom: 20px;
    background-color: rgb(114, 69, 30);
    bottom: 20px;
    right: 0px;
    z-index: 1000;

    
    



}


